#title {
	font-size: 1.625rem;
	line-height: 4.688rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

.menu-object{
	display: grid;
	grid-template-columns: 1fr 30rem 1fr;
	grid-gap: 0.625rem;
	grid-auto-rows: minmax(7rem, auto);
}

.carta-display{
	display: grid;
	grid-template-columns: 1fr repeat(4 , 10rem) 1fr;
	grid-gap: 0.625rem;
	grid-auto-rows: minmax(7rem, auto);
}

.carta1{
	grid-column: 2;
	grid-row: 2 ;
	margin: auto;
}

.carta2{
	grid-column: 3;
	grid-row: 2 ;
	margin: auto;
}

.carta3{
	grid-column: 4;
	grid-row: 2 ;
	margin: auto;
}

.carta4{
	grid-column: 5;
	grid-row: 2 ;
	margin: auto;
}

.titolM{
	grid-column: 3/5;
	grid-row: 1;
}
.goMenu {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	grid-column: 3/5;
	grid-row: 3;
	margin: auto;
	font-size: 0.775rem;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 1.5rem;
	width: 10rem;
	height: 4rem;
}

.boto {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	grid-column: 2;
	grid-row: auto;
	font-size: 1.275rem;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 2.5rem;
}

.titol{
	grid-column: 2;
	grid-row: auto;
}

p{
	text-align: center;
}

button.boto:active{
	font-size: 1.275rem;
	width: 17.188rem;
	height: 4.375rem;
	margin: auto;
}

button.boto:hover:not(:active){
	font-size: 1.175rem;
	width: 25.313rem;
	height: 5.313rem;
	margin:auto;
}

button.goMenu:active {
	font-size: 0.775rem;
	width: 10rem;
	height: 4rem;
	margin: auto;
}

button.goMenu:hover:not(:active) {
	font-size: 0.675rem;
	width: 9rem;
	height: 3.5rem;
	margin: auto;
}