#title{
	font-size: 26px;
	line-height: 75px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

.menu-object{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: grid;
	
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}